
.card-panel {
    margin: 0;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 1rem;
    min-height: 1px;
}

.skillListItem{
    color: #bdbdbd;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

ul#skillsList li {
    display: inline-block;
    
}

body {
    background-color: #142143 !important;
}

